.rating {
    padding: 20px 20px 0px 20px;
}

.rating_title {
    font-size: 30px !important;
    font-weight: bold !important;
    
    margin-bottom: 10px !important;
}

.rating_tabs {
    margin-top: 10px;
}

.rating_list {
    margin-top: 10px;

    span {
        margin-right: 10px;
    }
}
