.wrapper {
    display: flex;

    padding: 75px 15px 0px 15px;
}

.container {
    width: 100%;
    max-width: 640px;

    margin: 0 auto;

    &_full {
        max-width: 1000px;
    }
}

.main_layout_color {
    background-color: #fff;
    height: 100%;
    min-height: 100vh;
}
